.heart {
  cursor: pointer;
  height: 70px;
  width: 70px;
  margin-left: 480px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}

.heart:hover {
  background-position:right;
}
.done{
	background-position:right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}
h2{font-family: 'Julius Sans One', sans-serif;
font-weight: ;
	margin-left: 80px;
	margin-top: 40px;

	color: #000000;

}
.tag{
	font-family: 'Dancing Script', cursive;
	font-size: 18px;
	color: #f35;
	margin-left: 160px;

}
.himg{
 /*background-image: url("img/tr.jpg");
*/
 height: 150px;
 width: 1350px;
 position: relative;
}
.hhimg{
	width: auto;
height : 450px;
margin-left: 20px;
margin-top: 20px;

}
.idt{
	color: ;
	position: absolute;
}
#lkd{

display:none;
}
.tit{
	background: ;
	width: 500px;
}
.by{	font-family: 'Raleway', sans-serif;
	margin-left: 1100px;
	margin-top: 65px;
	color: #34495e;
	font-size: 15px;
}
.top{
	display: flex;
	width: 100%;
}
.post{
	background: ;
	height: auto;
	width:950px;
	margin-top: 30px;
	margin-left: 100px;
}
.info{
	background: ;
	font-family: 'Raleway', sans-serif;
	border:1px solid #e2e2dd;
	height: auto;
	width: 340px;
	position:absolute;
	margin-left: 1000px;
	margin-top: 80px;


}
.cont{
	background: ;
	font-family: 'Raleway', sans-serif;
	border:1px solid #e2e2dd;
	height: auto;
	width: 340px;
	position:absolute;
	margin-left: 1000px;
	margin-top: 470px;


}
.post-head{
	display: flex;
	text-decoration:none;
}
h3{
font-family: 'Josefin Sans', sans-serif;
	margin-left: 20px;
	text-decoration:none;
	color: #34495e;
	font-size: 29px;
}
.dat{
		font-family: 'Raleway', sans-serif;
	font-size: 16px;
	margin-left: 25px;
	color: #7f8c8d;
	margin-top: 28px;
}
.lco{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #7f8c8d;
	margin-top: 25px;
}
.image{
	 background: ; display:flex;
    justify-content:;
    align-items:center;
    overflow:hidden
    margin-left:0px;
}
.img{

	/*flex-shrink:20;
    -webkit-flex-shrink: 20;
    max-width:100%;
    max-height:100%;
    margin-left: 0px;*/
width: 710px;
height : 450px;
margin-left: 20px;
margin-top: 20px;
}
.tite{
	background: ;
	width: 620px;
	height: 50px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.datao{
background:;
height: auto;
overflow-y: hidden;
width: 720px;
margin-left: 0px;

}
.data{
	background:;
	height:auto;
	width: 720px;
	border-bottom: 1px solid  #e2e2dd;
	margin-left: 20px;
}
.dataoi{
background:;
font-family: 'Josefin Sans', sans-serif;
height:70px;
overflow-y: hidden;
width: 720px;
margin-left: 0px;

}
.datai{
	background:;
	height:80px;
	width: 720px;
	border-bottom: 1px solid  #e2e2dd;
	margin-left: 20px;
}
.txt{
	font-size: 16px;
	margin-top: 30px;
}
.rmore{
font-family: 'Josefin Sans', sans-serif;
height: 34px;
width: 90px;
border:1px solid #f35;
border-radius: 40px;
margin-top: 20px;
color: #f35;
margin-left: 20px;
transition: all 0.5s ease;
}
.rmore a{
	color: #f35;
}
.rmore a:hover{
	color: white;
	text-decoration: none;
}
.rmore:hover{
	color: white;
	text-decoration: none;
	background: #f35;
}
.comt{
	position:;
 background: ;
 width:1190px;
 height: 400px;
 margin-left: 80px;
 margin-top: 50px;


}
.faaram{
	margin-top: 30px;
}
.comh{
	background:;
	height: 50px;
	margin-top: 10px;
	margin-left: 0px;
	width: 1190px;
	border-bottom: 1px solid #f35;

}

.cch{
	font-size: 25px;
	margin-left: 20px;
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
}

.form-control{
	width: 70%;
	margin-left: 5%;
	background: transparent;
	border:none;
	color: #2c3e50;
	font-family: 'Raleway', sans-serif;
	height: 40px;
	font-size: 18px;

	box-shadow: none;
}
.form-control:focus{
	box-shadow: none;
	border:none;
	border-bottom: 1px solid #34495e;
}
.jlo{
	margin-left: 50px;

  width: 600px;
}
.textf{
	position: absolute;
}
.adp{
	background:transparent; 
	margin-left: 700px;
	margin-top: 90px;
	color: #f35;
	border:1px solid #f35;
	height: 35px;
position: relative;
	border-radius: 40px;
	transition: all 0.5s ease;
}
.adp:hover{
	background: #f35;
	color: white;
}
.std{
	margin-top: 0px;
	position: absolute;
}
.cmmtd{
	position:relative;
	height: auto;
	width: 1050px;
	background:;
	margin-left: 60px;
	font-family: 'Raleway', sans-serif;
}
.cknam{
	font-size: 18px;
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
}
.cdtt{
	
	margin-top: 0px;
	background: ;
	font-family: 'Raleway', sans-serif;
}
.cmmt{
	background:;
	width: 1050px;
	font-family: 'Raleway', sans-serif;
	height:auto;
	margin-left: 60px;
	border-bottom:1px solid #e2e2dd;

}
.cl{
	margin-top: 10px;
}
.tplo{
	margin-left: 50px;
 width: 600px;
}
@media only screen and (max-width: 768px) {
.top{
background:;
width: 100%;

}
h2{

text-align:center;	margin-top: 40px;

	color: #000000;
}




}
@media only screen and (min-width : 320px) and (max-width : 480px){
body {
    overflow-x: hidden;
  overflow-y: scroll;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.top{
background:;
width: 340px;
display:list-item;

}
.tag{
	font-family: 'Dancing Script', cursive;
	font-size: 18px;
	color: #f35;
	margin-left: 100px;

}

.himg{
 /*background-image: url("img/tr.jpg");
*/
 
 position:relative;
}
h2{

margin-left:70px;	margin-top: 30px;

	color: #000000;
}
.post{
	background:; 
	height:auto;
	position:relative;
	width:100%;

	margin-left: 0px;
	
}
.by{	font-family: 'Raleway', sans-serif;
	margin-left: 100px;
	margin-top: 65px;
	color: #34495e;
	font-size: 15px;
}
.post-head{
display:list-item;
}
.idt{
position:absolute;
}
.dat{
		font-family: 'Raleway', sans-serif;
	font-size: 16px;
	margin-left: 30px;
	color: #7f8c8d;
	margin-top: 10px;
}
.tite{
	background: ;
	width: 360px;
	height: 50px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.image{
	 background: ; display:flex;
    justify-content:;
    align-items:center;
    overflow:hidden
    margin-left:0px;
}
.img{

	/*flex-shrink:20;
    -webkit-flex-shrink: 20;
    max-width:100%;
    max-height:100%;
    margin-left: 0px;*/
width: 360px;
height : 350px;
margin-left: 0px;
margin-top: 10px;
}

.liik{
background:red;
}
.heart {
  cursor: pointer;
  height: 70px;
  width: 70px;
  margin-left: 120px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}
.heart:hover {
  background-position:right;
}
.done{
	background-position:right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}
.info{
	background: ;
	font-family: 'Raleway', sans-serif;
	border:1px solid #e2e2dd;
	height: auto;
	width: 340px;
	position:relative;
	margin-left:10px;
/*	margin-top: 700px;*/


}
.table{
width:340px;
}
.cont{
	background: ;
	font-family: 'Raleway', sans-serif;
	border:1px solid #e2e2dd;
	height: auto;
	width: 340px;
        position:relative;
	margin-left: 10px;
margin-bottom:20px;
margin-top: 50px;


}
.bd{
width:340px;
height:auto;
}
.comt{
	position:absolute;
 background: ;
 width:100%;
 height: 400px;
 margin-left: 0px;
 margin-top: 0px;


}

.comh{
	background:;
	height: 50px;
	margin-top: 10px;
	margin-left: 0px;
	width: 100%;
	border-bottom: 1px solid #f35;

}

.cch{
	font-size: 25px;
	margin-left: 20px;
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
}
.faaram{
	margin-top: 30px;
}
.textf{
	position: absolute;
}
.jlo{
	margin-left: 5px;
 

  width: 164%;
}
.tplo{
	margin-left: 5px;
  width: 164%;
}

.adp{
	background:transparent; 
	margin-left: 75%;
	margin-top: 140px;
	color: #f35;
	border:1px solid #f35;
	height: 35px;
position: relative;
	border-radius: 40px;
	transition: all 0.5s ease;
}
.datao{
height:auto;
width:350px;
margin-left:7px;


}
.data{
	margin-left:0px;
width:100%;
margin-left:7px;
	border-bottom: 1px solid  #e2e2dd;
	
}

.dataoi{
background:;
font-family: 'Josefin Sans', sans-serif;
height:70px;
overflow-y: hidden;
width:350px;
margin-left: 7px;

}
.datai{
	background:;
	height:80px;
	width: 100%;
	border-bottom: 1px solid  #e2e2dd;
	margin-left: 7px;
}

#lkd{

display:none;
}
.heart {
  cursor: pointer;
  height: 70px;
  width: 70px;
  margin-left: 235;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}
.heart:hover {
  background-position:right;
}
.done{
	background-position:right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}

.cmmt{
	background:;
	width: 340px;
	font-family: 'Raleway', sans-serif;
	height:auto;
	margin-left: 10px;
margin-bottom:30px;
	border-bottom:1px solid #e2e2dd;

}
.cmmtd{
	position:relative;
	height: auto;
	width: 280px;
	background:;
	margin-left: 60px;
	font-family: 'Raleway', sans-serif;
}
.cknam{
	font-size: 18px;
	margin-top: 10px;
background:;
overflow:hidden;
	font-family: 'Raleway', sans-serif;
}
}
